.threat-page-container {
    @include flexCenter(column);
    margin: 0 auto;
    margin-top: 48px;
    width: 100vw;

    h1 {
        font-weight: bold;
        text-align: center;
    }

    .centered-div {
        @include flexCenter(column);

        // This is for phone sized
        @media only screen and (max-width: 750px) {
            width: 70vw;
        }
        .checkbox {
          margin-top: 30px;
        }
        .buttons-container {
            @include flexCenter(row);
            @include nordButton();

            margin-top: 24px;
            margin-bottom: 24px;
        }
    }

    .threat-page-subcontainer {
        @include flexCenter(row);

        flex-wrap: nowrap;

        .left-menu {
            @include flexCenter(column);
            align-content: center;
            width: 100%;
            height: 100%;
            flex: 1;
            margin-top: 50px;
        }

        .rigth-menu {
            @include flexCenter(column);
            align-content: center;
            width: 100%;
            height: 100%;
            flex: 1;
        }
    }
}
